# Default ignored files
/shelf/
/.idea/*
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/__pycache__/
/tests/__pycache__/
/exploits/__pycache__/
/.sage/
/.ccache/
/.bash_history
/.python_history